
body { color:#646464; font-family:Open Sans, sans-serif; font-weight:Normal; font-size:16px; }
h1,h2,h3,h4,h5,h6 { color:#383838; font-family:Oswald, sans-serif; font-weight:Normal; font-size:28px; }
a {color:#646464}a:hover {color:#1fb4dd}

svg {font: 10px sans-serif;}

.axis path, .axis line {fill: none;stroke: #000;shape-rendering: crispEdges;}
.axis {font-size: 10px;}
.axis text {-webkit-transition: fill-opacity 250ms linear;}
.axis path {display: none;}
.axis line {stroke: #000;shape-rendering: crispEdges;}

.horizon {border-bottom: solid 1px #000;overflow: hidden;position: relative;}
.horizon {border-top: solid 1px #000;border-bottom: solid 1px #000;}
.horizon + .horizon {border-top: none;}
.horizon canvas {display: block;}
.horizon .title, .horizon .value {bottom: 0;line-height: 30px;margin: 0 6px;position: absolute;text-shadow: 0 1px 0 rgba(255,255,255,.5);white-space: nowrap;}
.horizon .title {left: 0;}
.horizon .value {right: 0;}

.horizon-gc .title {line-height: 10px;font-size: 6pt;}
.horizon-gc .value {font-size: 10px;line-height: normal;}

.col_title {font-weight: bold;margin-bottom: 5px;}

.line {background: #000;opacity: .2;z-index: 2;}